<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="author" content="Gabriele Cerqueglini">
		<meta name="keywords" content="travel app">
		<meta name="description" content="travel app project">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=0.5">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/styles/resets.scss">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/sform.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <title>Travel App Project</title>
    </head>
    <body>
        <header>
            
        </header>
        <main>        
            <section class="user-entry">
                <div class="bg">
                    <h1>Search you next destination</h1>
                    <div class="form-container">
                        <form>
                            <label>Destination
                                <input id="city" name="city" type="text" placeholder="enter location..." onblur="Client.inputValidate(event)">
                                <span></span>
                            </label>
                            <label>Country
                                <input id="country" name="country" type="text" maxlength="2" size="1" title="2-letter code (en,it,fr...)" onblur="Client.inputValidate(event)">
                                <span></span>
                            </label>
                            <label>Arrival
                                <input id="arrival" name="arrival " type="date" placeholder="insert date..." onblur="Client.inputValidate(event)">
                                <span></span>
                            </label>
                            <label>Departure
                                <input id="departure" name="departure " type="date" placeholder="insert date..." onblur="Client.inputValidate(event)">
                                <span></span>
                            </label>
                            <div>
                                <button id="submit" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="bottom-grad"></div>
                </div>
            </section>
            <section id="trip-card">
                <div id="photo">
                </div>
                <p>
                    <span id="trip-dates"></span> 
                    <span id="loc"></span>
                    <span id="days"></span>
                </p>
                <div id="weather">Weather</div>
                <div id="descr"></div>
            </section>
            <div id="filler"></div>
        </main>
        <footer>
            <p>Images from Pixabay.com <a href="https://pixabay.com/"><img src="logo_pixabay.png" alt="pixabay logo"></a></p>
            <p>&copy Travel App 2021</p>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", ()=>{
                //set current day date and +16 day date
                const currentDate = new Date();
                let nextDate = new Date(currentDate);
                nextDate.setDate(currentDate.getDate() + 16);
                //format date to yyyy-0d-0m
                const minDate = currentDate.getFullYear()+"-"+('0' + (currentDate.getMonth()+1)).slice(-2)+"-"+('0' + currentDate.getDate()).slice(-2);
                const maxDate = nextDate.getFullYear()+"-"+('0' + (nextDate.getMonth()+1)).slice(-2)+"-"+('0' + nextDate.getDate()).slice(-2);

                //add attributes min & max to input date
                document.getElementById("arrival").setAttribute("min",minDate);
                document.getElementById("arrival").setAttribute("max",maxDate);
                document.getElementById("arrival").setAttribute("placeholder","arrival");
                document.getElementById("departure").setAttribute("min",minDate);
                document.getElementById("departure").setAttribute("max",maxDate);
                document.getElementById("departure").setAttribute("placeholder","departure");
                
            });
        </script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>