<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="author" content="Gabriele Cerqueglini">
		<meta name="keywords" content="travel app">
		<meta name="description" content="travel app project">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, minimum-scale=0.5">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="./css/style.css" rel="stylesheet">
        <title>Travel App Project</title>
    </head>
    <body>
        <main>        
            <div class="user-entry">
                <form>
                    <label for="location">Location</label>
                    <input id="location" name="location" type="text" placeholder="enter location...">
                    <span></span>
                    <label for="departure">Departure</label>
                    <input id="departure" name="departure " type="date" placeholder="insert date...">
                    <span></span>
                    <button id="submit" type="submit">Submit</button>
                </form>
            </div>
            <div id="tripCard">
                <div ></div>
                <div ></div>
                <div id="icon">
                    <img src="" alt="weather icon">
                </div>
            </div>
            <button id="bot-anchor" type="button">Scroll to top</button>
        </main>
        <footer></footer>
        <script></script>
    </body>
</html>