/*GENERAL RULES*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{

    height: 100vh;
    font-size: 17px;
    font-family: system-ui !important;
    
}
main {
    flex: 2;
    margin: 0 auto 100px auto;
    width:100%;
    min-height:50vh;
}


#filler{
    height:60vh;
}

section {
    position:relative;
    .bottom-grad{
        content:"";
        position:absolute;
        width:100%;
        height: 130px;
        bottom:0;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
    }
    .bg{
        background-color: rgba(255, 255, 255, 0.308);
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        min-height: 600px;
        padding-top:80px;
        h1{
            font-weight: 700;
            font-size: 40px;
            margin-bottom:40px;
            color:white;
            text-shadow:  1px 2px black;
            font-weight: bold;
            text-align: center;
        }
    }
    &#trip-card{
        display:none;
        width:auto;
        &.filled{
            display:flex;
            flex-flow: column;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            border-radius: 10px;
            max-width: 300px;
            margin: 100px auto;
            & + #filler{
                display:none;
            }
        }
        #photo{
            width:300px;
            height:200px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom:10px;
        }
        p{
            margin: 0 auto 0 auto;
            width:100%;
            span{
                &:first-of-type{
                    font-size: 17px;
                    margin-left:10px;
                    font-weight: 700;
                    text-align: left;
                }
                display:block;
                text-align: center;
                font-size:25px;
                font-weight: 700;
                margin-bottom:10px;
                &#days{
                    font-size:18px;
                }
            }
        }
        &.more-days{
            #weather {
                flex-basis: 100%;
                width:100%;
                display:flex;
                flex-direction: column;
                margin-top:20px;
                margin-bottom:20px;
                font-size:17px;
                font-weight: 700;
                & > div{
                    font-weight: 400;
                    flex-basis:100%;
                    border-top: 1px solid rgba(85, 85, 85, 0.329);
                    display:flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    & > div{
                        margin:auto 0 auto 0;
                    }
                }
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media screen and (min-width:768px) and (max-width:900px)
{
    html
    {
        font-size: 14px;
    }
}

@media screen and (max-width:767px)
{
    html
    {
        font-size: 14px;
    }
    section{
        .bottom-grad{
            display:none;
        }
    }
    #filler{
        display:none;
    }
    .bg{
        height:100vh;
    }
}